/* Timor Plugin Style */
#lun, .m-page { height: 100%; width: 100%; overflow: hidden; display: none; }
#lun { display: block; position: relative; }
.m-page { position: absolute; left: 0; top: 0; text-align: center; transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); }
.m-page.show { z-index: 10; display: block !important; }
.m-page.hide { z-index: 5; display: none !important; }
.m-page.active { z-index: 15; display: block !important; }
/* Music Style */
.btn-music { display: none; background: url(../images/music.png) no-repeat; width: 30px; height: 30px; position: fixed; bottom: 20px; right: 15px; z-index: 25; background-size: 30px auto; }
.btn-musiced { -webkit-animation: load2 2s infinite linear; animation: load2 2s infinite linear; }
/* Bottom ICon */
.btn-bottom { background: url(../images/bottom-icon.png) no-repeat center center; width: 41px; height: 17px; position: fixed; bottom: 15px; right: 0; left: 0; margin: auto; z-index: 25; background-size: 30px auto; -webkit-animation: tap .7s infinite linear; animation: tap .7s infinite linear; }
@-webkit-keyframes tap {
  0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
}
@keyframes tap {
  0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
}
@-webkit-keyframes load2 {
  0% { -webkit-transform: rotateZ(0deg) }
  100% { -webkit-transform: rotateZ(-360deg) }
}
@keyframes load2 {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(-360deg) }
}
/* erase Style */
canvas{ position: fixed; top: 0; left: 0; z-index: 100; right: 0; margin: auto; transition:2s; -webkit-transition:2s;}